.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header-title {
  margin-left: 30px;
}
.header-nav-list {
  display: flex;
  margin-right: 30px;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-size: 18px;
}
.top-content {
  position: relative;
}
.top-image {
  margin: 10px 0 0 auto;
  display: block;
  width: 60%;
}
.top-title {
  position: absolute;
  font-family: "Indie Flower", cursive;
  top: 15%;
  left: 20%;
  color: #c71585;
  font-size: 70px;
  line-height: 150%;
}
.growth {
  color: rgb(5, 187, 187);
}
.top-text {
  position: absolute;
  top: 60%;
  left: 20%;
  font-size: 23px;
  color: #c71585;
  font-weight: bold;
}
.成長 {
  color: rgb(5, 187, 187);
}
.top-description {
  position: absolute;
  top: 65%;
  left: 20%;
  line-height: 180%;
  color: rgb(136, 136, 136);
}
.news-log,
.about-log,
.service-log,
.blog-log,
.company-log {
  font-family: "Indie Flower", cursive;
  color: #c71585;
}
.news-title,
.about-title,
.service-title,
.blog-title,
.company-title {
  color: rgb(95, 94, 94);
  font-size: 23px;
}
.news {
  width: 50%;
  margin: 50px auto 0;
}
.news-title {
  margin-top: 20px;
  margin-bottom: 40px;
}
.news-list {
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(95, 94, 94);
  list-style: none;
}
.news-item {
  border-bottom: 1px solid #dedede;
  line-height: 60px;
}
.news-label {
  border-radius: 10px;
  line-height: 20px;
  margin-right: 10px;
  width: 80px;
  background-color: #c71585;
  color: white;
  display: inline-block;
  text-align: center;
}
.about {
  text-align: center;
  background-color: #dedede;
  margin-top: 100px;
  height: 450px;
}
.about-log {
  padding-top: 30px;
  margin-bottom: 30px;
}
.about-title {
  margin-bottom: 30px;
}
.about-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.about-text {
  text-align: left;
  margin-right: 150px;
  color: rgb(95, 94, 94);
  line-height: 30px;
}
.about-text-2 {
  margin-top: 20px;
}
.service {
  width: 70%;
  margin: 30px auto 30px;
}
.service-box {
  display: flex;
  margin: 30px auto 30px;
}
.box1 {
  width: 50%;
  height: 400px;
  text-align: center;
  background-color: #c71585;
}
.box1-img {
  margin-top: 30px;
}
.box2 {
  width: 50%;
}
.box2-1,
.box2-2 {
  display: flex;
  align-items: center;
  height: 200px;
}
.box2-1 {
  background-color: #864986;
}
.box2-2 {
  background-color: #d8bfd8;
}
.box-title {
  color: white;
  font-weight: bold;
  font-size: large;
}
.box-text {
  color: white;
  line-height: 25px;
  margin-top: 10px;
}
.blog {
  background-color: #dedede;
  margin-top: 100px;
  padding-bottom: 20px;
}
.blog-log {
  width: 1000px;
  padding-top: 30px;
  margin: 0 auto 30px;
}
.blog-title {
  width: 1000px;
  margin: 0 auto 30px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.card {
  border: 1px solid #dedede;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  margin: 0 20px;
  position: relative;
}
.card-cat {
  position: absolute;
  color: white;
  background-color: #c71585;
  padding: 10px 20px;
  top: 0;
}
.card-content-title {
  color: rgb(95, 94, 94);
  font-size: 15px;
  margin: 20px auto 30px;
  line-height: 30px;
  text-align: center;
}
.card-text {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  color: rgb(155, 151, 151);
  font-size: 15px;
}
.card-img {
  border-radius: 10px 10px 0 0;
}
.blog-btn {
  display: block;
  width: 200px;
  line-height: 50px;
  background-color: white;
  color: #c71585;
  border: 2px solid #c71585;
  font-size: 15px;
  border-radius: 50px;
  text-align: center;
  margin: 30px auto;
}
.company-log,
.company-title {
  width: 55%;
  margin: 0 auto;
}
.company-log {
  margin-top: 80px;
  margin-bottom: 20px;
}
table {
  width: 55%;
  border-collapse: collapse;
  margin: 40px auto 70px;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}
table th {
  color: rgb(95, 94, 94);
  font-weight: bold;
  background-color: #dedede;
  width: 30%;
  text-align: left;
}
table td {
  color: rgb(136, 136, 136);
}
.contact-banner {
  display: flex;
}
.info-img,
.inter-img {
  width: 50vw;
}
.contact-info {
  position: relative;
}
.info-text {
  position: absolute;
  top: 45%;
  left: 40%;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.contact-interview {
  position: relative;
}
.interview-text {
  position: absolute;
  top: 45%;
  left: 30%;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.contact-mail {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}
.mail-text {
  color: rgb(95, 94, 94);
  font-weight: bold;
  font-size: 18px;
}
.line {
  height: 40px;
  width: 2px;
  background-color: crimson;
  margin: 30px auto;
}
.mail-btn {
  position: relative;
  width: 200px;
  display: block;
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 50px;
  margin: 0 auto;
  background: linear-gradient(90deg, #ff1493, #c71585);
  box-shadow: 0 8px 0 #830e58;
}
.mail-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  background: url(../img/mailicon.svg);
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}
.footer {
  height: 60px;
  background-color: #dedede;
  text-align: center;
}
.footer-text {
  font-size: 15px;
  color: rgb(136, 136, 136);
  padding-top: 18px;
}
